# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Node & Frontend builds
node_modules/
dist/
.vercel

# Databases
*.db
*.sqlite3

# Media
*.avi
*.mp3
*.mp4
*.wav
*.webm

# Local binaries
ffmpeg-*/

# Data, Sessions & Dev Scratch
data/
scratch/

# IDEs
.vscode/
.idea/

# User uploads & static media
static/resumes/
static/videos/
