fastapi
uvicorn
python-multipart
opencv-python
numpy
pandas
scikit-learn
matplotlib
openai-whisper
torch
pdfplumber
gtts
pydantic
cloudinary
sqlalchemy
psycopg2-binary
python-dotenv
celery
redis
PyJWT
boto3
streamlit
faiss-cpu
sentence-transformers
openai
gunicorn